# Config based on https://github.com/shopware/shopware/blob/trunk/phpstan.neon.dist
includes:
    - vendor/shopware/core/DevOps/StaticAnalyze/PHPStan/common.neon
    # Based on vendor/shopware/core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
    - tests/StaticAnalyze/PHPStan/phpstan-shopware-core-rules.neon

parameters:
    level: 9
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources
    bootstrapFiles:
        - vendor/shopware/core/DevOps/StaticAnalyze/phpstan-bootstrap.php
    # run `php src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php` to create the container
    symfony:
        constantHassers: false
        containerXmlPath: 'var/cache/static_phpstan_dev/Shopware_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: tests/StaticAnalyze/PHPStan/console-application.php
    type_perfect:
        no_mixed: true
