<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/TestBootstrap.php"
         executionOrder="random">
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\Core\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
        <!-- ###- symfony/messenger ### -->

        <!-- ###+ symfony/mailer ### -->
        <env name="MAILER_DSN" value="null://null"/>
        <!-- ###- symfony/mailer ### -->

        <!-- ###+ symfony/lock ### -->
        <!-- Choose one of the stores below -->
        <!-- postgresql+advisory://db_user:db_password@localhost/db_name -->
        <env name="LOCK_DSN" value="flock"/>
        <!-- ###- symfony/lock ### -->
    </php>
    <testsuites>
        <testsuite name="SmartRelations Testsuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
