name: Test

on:
    workflow_call:

concurrency:
    group: ${{ github.ref }}-test
    cancel-in-progress: true

jobs:
    phpunit:
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8-oracle
                env:
                    MYSQL_DATABASE: shopware
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

        strategy:
            matrix:
                composer-command:
                    - install
                    - require shopware/core:~6.6.10.0
                    - require shopware/core:~6.6.9.0
                    - require shopware/core:~6.6.8.0
                    - require shopware/core:~6.6.7.0
                    #- require shopware/core:~6.6.6.0
                    #- require shopware/core:~6.6.5.0
                    #- require shopware/core:~6.6.4.0
                    #- require shopware/core:~6.6.3.0
                    #- require shopware/core:~6.6.2.0
                    #- require shopware/core:~6.6.1.0
                    #- require shopware/core:~6.6.0.0

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - uses: ./.github/actions/composer
              with:
                  composer-install: false
                  additional-extensions: ',pcov'

            - run: composer ${{ matrix.composer-command }}

            - run: cp .env.ci .env.test.local

            - name: Run tests
              run: composer run phpunit-report

            - name: Upload test results
              if: ${{ matrix.composer-command == 'install' }}
              uses: actions/upload-artifact@v4
              with:
                  name: test-results
                  path: ./public/tests
                  retention-days: 1

            - name: Monitor test coverage
              uses: slavcodev/coverage-monitor-action@v1
              if: ${{ matrix.composer-command == 'install' }}
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  coverage_path: 'reports/coverage.clover.xml'
                  threshold_alert: 95
                  threshold_warning: 99
                  threshold_metric: 'lines'
